##
## Copyright (c) 2022, Empa, Leonie Fierz, Aaron Bojarski, Ricardo Parreira da Silva, Sven Eggimann.
##
## This file is part of CESAR-P - Combined Energy Simulation And Retrofit written in Python
##
## This program is free software: you can redistribute it and/or modify
## it under the terms of the GNU Affero General Public License as
## published by the Free Software Foundation, either version 3 of the
## License, or (at your option) any later version.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU Affero General Public License for more details.
##
## You should have received a copy of the GNU Affero General Public License
## along with this program. If not, see <http://www.gnu.org/licenses/>.
##
## Contact: https://www.empa.ch/web/s313
##

METADATA: # metadata for default CONSTRUCTION config parameters
  SOURCE:
    - embodied co2 and pen for window frame were looked up in KBOB 2014, assuming wood-aluminium frame
    - Installation characteristic, shading parameters, frame properties were transfered from hard-coded values
      in matlab cesar version.
      Window dividers were removed from the model (as most buildings probably have
      no frame dividers nowadays and adding fixed dividers for all buildings adds thus more inaccuracy and uncertainity
      than it helps to get more accurate results.)
CONSTRUCTION:
    # source for constructional data such as materials;
    # Options
    # GRAPH_DB: data source local TTL graph data file or remote GraphDB. See configuration in cesarp.graphdb_access.
    CONSTRUCTION_DB: "GRAPH_DB"
    # parameters for window frame are the same for all the buildings. 
    # SOURCE: those parameters where constants in cesar matlab version / co2 and pen: KBOB 2014
    FIXED_WINDOW_FRAME_CONSTRUCTION_PARAMETERS:
        name: "cesar-wood-aluminium-default"
        frame_conductance: 9.5 W/m**2/K
        frame_solar_absorptance: 0.5 solar_absorptance
        frame_visible_absorptance: 0.5 visible_absorptance
        outside_reveal_solar_absorptance: 0.5 solar_absorptance # TODO correct to still set that value? check in E+ reference
        embodied_co2_emission_per_m2: 256 kg*CO2eq/m**2
        embodied_non_renewable_primary_energy_per_m2: 3740 MJ*Oileq/m**2
    # installation characteristics parameters which are the same for all of the buildings
    # those are quite EnergyPlus specific
    # SOURCE: those parameters where constants in cesar matlab version
    FIXED_INSTALLATION_CHARACTERISTICS: 
        FRACTION_RADIANT_FROM_ACTIVITY: 0.3 dimensionless
        LIGHTING_RETURN_AIR_FRACTION: 0.0 dimensionless
        LIGHTING_FRACTION_RADIANT: 0.4 dimensionless
        LIGHTING_FRACTION_VISIBLE: 0.2 dimensionless
        DHW_FRACTION_LOST: 1 dimensionless
        ELECTRIC_APPLIANCES_FRACTION_RADIANT: 0.75 dimensionless
    # material properties for neighbouring buildings are the same for all of the buildings 
    # (expect for glass, which is set to be the same as the one of the main building)
    # SOURCE: those parameters where constants in cesar matlab version
    FIXED_NEIGHBOUR_BLDG_PARAMETERS:
        SHADING_OBJ_WALL:
            diffuse_solar_reflectance_unglazed_part: 0.3 diffuse_solar_reflectance
            diffuse_visible_reflectance_unglazed_part: 0.3 diffuse_visible_reflectance
            glazing_ratio: 0.3 dimensionless
        SHADING_OBJ_ROOF:
            diffuse_solar_reflectance_unglazed_part: 0.15 diffuse_solar_reflectance
            diffuse_visible_reflectance_unglazed_part: 0.1 diffuse_visible_reflectance
            glazing_ratio: 0 dimensionless
